@charset "UTF-8";
/* line 1, ../sass/dockbar/_dockbar.scss */
body {
  margin: 0px;
}

/* line 12, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar {
  width: 100%;
  height-min: 300px;
  background: #8A2BE2;
}
/* line 17, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth {
  float: right;
  margin-top: -10px;
}
/* line 21, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth .nav.clk {
  display: inline-block;
  float: right;
  width: 45px;
  height: 45px;
  background: url("../img/burger.png") 10px 15px no-repeat;
  content: "";
  cursor: pointer;
}
/* line 31, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth .list {
  display: inline-block;
}
/* line 34, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth .list ul {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}
/* line 39, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth .list ul li {
  float: left;
  margin-left: 15px;
}
/* line 43, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth .list ul li a {
  color: white;
  text-decoration: none;
}
/* line 52, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .logo-icon {
  overflow: hidden;
  height: 30px;
}
/* line 56, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .logo-icon img {
  height: 60px;
  border: 0px;
}
/* line 63, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav {
  margin-top: 0px;
}
/* line 66, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul {
  margin-top: 0px;
  list-style-type: none;
  padding-left: 0px;
}
/* line 71, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul .active {
  background: #8A2BE2;
  color: black;
}
/* line 75, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul .active a {
  color: white;
}
/* line 79, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul .active img {
  transition: transform .6s;
  transform: rotate(540deg);
}
/* line 85, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul li {
  margin: 0px;
  border: 1px solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  padding: 10px;
}
/* line 93, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul li a {
  text-decoration: none;
  margin-bottom: 20px;
}
/* line 99, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul li img {
  float: right;
  width: 15px;
}
/* line 104, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul li ul {
  margin-top: 20px;
  display: none;
  padding-left: 20px;
  background-color: #8A2BE2;
}
/* line 110, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul li ul li {
  border: none;
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* line 1, ../sass/footer/_footer.scss */
.footer {
  background: #6495ED;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
/* line 9, ../sass/footer/_footer.scss */
.footer .prefooter ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
/* line 14, ../sass/footer/_footer.scss */
.footer .prefooter ul li {
  font-size: 10px;
  padding-bottom: 10px;
}
/* line 18, ../sass/footer/_footer.scss */
.footer .prefooter ul li a {
  text-decoration: none;
  color: white;
}
/* line 23, ../sass/footer/_footer.scss */
.footer .prefooter ul li img {
  margin-left: 10px;
  width: 10px;
}
/* line 30, ../sass/footer/_footer.scss */
.footer .prefooter .icon-social {
  text-align: center;
  margin-top: 0px;
}
/* line 34, ../sass/footer/_footer.scss */
.footer .prefooter .icon-social li {
  display: inline-block;
  padding-bottom: 0px;
}
/* line 40, ../sass/footer/_footer.scss */
.footer .prefooter .line-horizontal {
  border-top: 1px solid #FFFFFF;
  width: 300px;
  display: inline-block;
}
/* line 47, ../sass/footer/_footer.scss */
.footer .last-footer {
  text-align: center;
}
/* line 50, ../sass/footer/_footer.scss */
.footer .last-footer ul {
  list-style-type: none;
  font-size: 6px;
  padding-left: 0px;
}
/* line 55, ../sass/footer/_footer.scss */
.footer .last-footer ul li {
  display: inline-block;
  border-right: 1px solid white;
  padding-right: 8px;
  margin-right: 8px;
}
/* line 61, ../sass/footer/_footer.scss */
.footer .last-footer ul li:last-child  {
  border: none;
}
/* line 65, ../sass/footer/_footer.scss */
.footer .last-footer ul li:first-child  {
  border: none;
}
/* line 69, ../sass/footer/_footer.scss */
.footer .last-footer ul li a {
  text-decoration: none;
  color: white;
}
/* line 76, ../sass/footer/_footer.scss */
.footer .last-footer span {
  font-size: 10px;
}

/* line 1, ../sass/contactus/_contactus.scss */
.header-contact {
  display: inline-block;
  margin: 0px;
  border: 1px solid #6495ED;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  padding: 10px;
  width: 300px;
}

/* line 12, ../sass/contactus/_contactus.scss */
.contenu-us {
  margin-top: 60px;
}
/* line 15, ../sass/contactus/_contactus.scss */
.contenu-us ul {
  list-style-type: none;
}
/* line 18, ../sass/contactus/_contactus.scss */
.contenu-us ul li {
  margin-top: 30px;
  font-size: 10px;
}
/* line 22, ../sass/contactus/_contactus.scss */
.contenu-us ul li p {
  margin-left: 20px;
  display: inline-block;
  margin-top: -20px;
  margin-right: 20px;
}
/* line 29, ../sass/contactus/_contactus.scss */
.contenu-us ul li img {
  width: 20px;
}
/* line 35, ../sass/contactus/_contactus.scss */
.contenu-us .contact-form {
  margin-top: 15px;
  text-align: center;
}
/* line 39, ../sass/contactus/_contactus.scss */
.contenu-us .contact-form input {
  margin: 0px;
  border: 1px solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  padding: 10px;
  padding-left: 0px;
  padding-bottom: 5px;
  margin-top: 20px;
}

/* line 55, ../sass/contactus/_contactus.scss */
.traitbloc .trait {
  border-top: 1px solid #6495ED;
  width: 80px;
  display: inline-block;
}

/* line 62, ../sass/contactus/_contactus.scss */
h2 {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  color: #6495ED;
}

/* line 69, ../sass/contactus/_contactus.scss */
.contenu-office {
  font-size: 10px;
  margin-left: 30px;
}
/* line 73, ../sass/contactus/_contactus.scss */
.contenu-office h3 {
  color: #6495ED;
  margin-bottom: 10px;
}
/* line 78, ../sass/contactus/_contactus.scss */
.contenu-office p {
  font-size: 10px;
}

/* line 1, ../sass/404error/_404error.scss */
.error {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 150px;
}
/* line 6, ../sass/404error/_404error.scss */
.error img {
  height: 70px;
  float: left;
  margin-left: 10px;
}
/* line 12, ../sass/404error/_404error.scss */
.error span {
  font-size: 10px;
}
/* line 16, ../sass/404error/_404error.scss */
.error h3 {
  font-size: 10px;
}
/* line 20, ../sass/404error/_404error.scss */
.error h2 {
  font-size: 10px;
}

/* line 1, ../sass/pricing/_pricing.scss */
.pricing-header {
  display: inline-block;
  margin: 0px;
  border: 1px solid #6495ED;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  padding: 10px;
  width: 300px;
}
/* line 11, ../sass/pricing/_pricing.scss */
.pricing-header img {
  margin-bottom: -5px;
}

/* line 16, ../sass/pricing/_pricing.scss */
.pricing-contenu {
  background: url("../img/background.png");
  text-align: center;
}
/* line 20, ../sass/pricing/_pricing.scss */
.pricing-contenu img {
  width: 250px;
  margin-top: 20px;
}

/* line 5, ../sass/resource/_resource.scss */
.resource-contenu .Overview h3 {
  color: #6495ED;
}
/* line 9, ../sass/resource/_resource.scss */
.resource-contenu .Overview h4 {
  font-size: 13px;
}
/* line 13, ../sass/resource/_resource.scss */
.resource-contenu .Overview h5 {
  margin-bottom: 10px;
}
/* line 17, ../sass/resource/_resource.scss */
.resource-contenu .Overview p {
  font-size: 12px;
}
/* line 20, ../sass/resource/_resource.scss */
.resource-contenu .Overview p a {
  text-decoration: none;
}
/* line 25, ../sass/resource/_resource.scss */
.resource-contenu .Overview blockquote {
  margin-top: 15px;
  background: #C0C0C0;
  padding: 10px;
  margin: 0px;
  font-size: 12px;
  width: 250px;
  margin-left: 12px;
}
/* line 38, ../sass/resource/_resource.scss */
.resource-contenu .dash h3 {
  color: #6495ED;
}
/* line 42, ../sass/resource/_resource.scss */
.resource-contenu .dash h5 {
  margin-left: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6495ED;
}
/* line 49, ../sass/resource/_resource.scss */
.resource-contenu .dash p {
  font-size: 12px;
}
/* line 53, ../sass/resource/_resource.scss */
.resource-contenu .dash ul {
  padding-left: 10px;
}
/* line 56, ../sass/resource/_resource.scss */
.resource-contenu .dash ul li {
  font-size: 12px;
}

/* line 65, ../sass/resource/_resource.scss */
.compagny h3 {
  font-size: 13px;
  color: #6495ED;
}
/* line 70, ../sass/resource/_resource.scss */
.compagny ul {
  padding-left: 0px;
  list-style-type: none;
}
/* line 74, ../sass/resource/_resource.scss */
.compagny ul li {
  font-size: 12px;
  margin: 5px;
  margin-bottom: 30px;
}
/* line 79, ../sass/resource/_resource.scss */
.compagny ul li span {
  border-right: 3px solid blue;
  height: 3px;
  padding-right: 5px;
  margin-right: 5px;
  padding: 5px;
}

@media screen and (width: 980px) {
  /* line 3, ../sass/contactustab/_contactustab.scss */
  .header-contact {
    display: inline-block;
    margin: 0px;
    border: 2px solid #6495ED;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 10px;
    width: 950px;
  }

  /* line 14, ../sass/contactustab/_contactustab.scss */
  .contenu-us {
    margin-top: 60px;
  }
  /* line 17, ../sass/contactustab/_contactustab.scss */
  .contenu-us ul {
    list-style-type: none;
    width: 400px;
    float: left;
  }
  /* line 22, ../sass/contactustab/_contactustab.scss */
  .contenu-us ul li {
    margin-top: 30px;
    font-size: 10px;
  }
  /* line 26, ../sass/contactustab/_contactustab.scss */
  .contenu-us ul li span {
    margin-left: 20px;
  }
  /* line 30, ../sass/contactustab/_contactustab.scss */
  .contenu-us ul li img {
    width: 20px;
  }
  /* line 35, ../sass/contactustab/_contactustab.scss */
  .contenu-us .contact-form {
    margin-top: 20px;
    width: 400px;
    display: inline;
  }
  /* line 40, ../sass/contactustab/_contactustab.scss */
  .contenu-us .contact-form input {
    margin: 0px;
    border: 2px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-top: 30px;
    margin-right: 15px;
  }

  /* line 56, ../sass/contactustab/_contactustab.scss */
  .traitbloc {
    margin-top: 30px;
  }
  /* line 59, ../sass/contactustab/_contactustab.scss */
  .traitbloc .trait {
    border-top: 2px solid #6495ED;
    width: 400px;
    display: inline-block;
  }
  /* line 65, ../sass/contactustab/_contactustab.scss */
  .traitbloc h2 {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    color: #6495ED;
  }

  /* line 73, ../sass/contactustab/_contactustab.scss */
  .contenu-office {
    font-size: 10px;
    margin-left: 30px;
  }
  /* line 78, ../sass/contactustab/_contactustab.scss */
  .contenu-office h3 {
    color: #6495ED;
    margin-bottom: 10px;
  }
  /* line 85, ../sass/contactustab/_contactustab.scss */
  .contenu-office p {
    width: 150px;
  }
}
/* line 1, ../sass/landing/_landing.scss */
.landing-contenu {
  text-align: center;
}
/* line 4, ../sass/landing/_landing.scss */
.landing-contenu .first-part {
  padding-top: 20px;
  background-image: url("../img/Quaterly.png");
  background-color: InactiveBorder;
}
/* line 9, ../sass/landing/_landing.scss */
.landing-contenu .first-part .titre {
  font-size: 15px;
  margin-bottom: 40px;
  color: white;
}
/* line 14, ../sass/landing/_landing.scss */
.landing-contenu .first-part .titre a {
  text-decoration: none;
}
/* line 19, ../sass/landing/_landing.scss */
.landing-contenu .first-part p {
  font-size: 13px;
  margin-bottom: 30px;
  color: white;
  padding: 5px;
}
/* line 26, ../sass/landing/_landing.scss */
.landing-contenu .first-part .signe {
  background: #6495ED;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}
/* line 34, ../sass/landing/_landing.scss */
.landing-contenu .first-part .watch {
  border-radius: 10px;
  padding: 5px;
  background: transparent;
}
/* line 40, ../sass/landing/_landing.scss */
.landing-contenu .first-part .btn-scroll {
  margin-top: 15px;
  width: 20px;
  border-radius: 50px;
  background: ButtonHighlight;
  padding: 5px;
  margin-left: 150px;
}
/* line 48, ../sass/landing/_landing.scss */
.landing-contenu .first-part .btn-scroll img {
  width: 20px;
}
/* line 56, ../sass/landing/_landing.scss */
.landing-contenu .service .module-first {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50px;
  margin-left: 120px;
  margin-top: 20px;
}
/* line 64, ../sass/landing/_landing.scss */
.landing-contenu .service .module-first img {
  width: 50px;
  padding-top: 10px;
}
/* line 71, ../sass/landing/_landing.scss */
.landing-contenu .service h3 {
  color: #6495ED;
  font-size: 14px;
}
/* line 76, ../sass/landing/_landing.scss */
.landing-contenu .service p {
  font-size: 12px;
  padding: 5px;
}

/* line 83, ../sass/landing/_landing.scss */
.tendance {
  margin-top: 20px;
  background: #6495ED;
}
/* line 87, ../sass/landing/_landing.scss */
.tendance .fond {
  background: url("../img/Quaterly.png") no-repeat top left;
  position: relative;
  width: 300px;
  height: 200px;
  z-index: 1;
  text-align: center;
  margin-bottom: 20px;
}
/* line 96, ../sass/landing/_landing.scss */
.tendance .fond .contenu {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 40px;
}
/* line 103, ../sass/landing/_landing.scss */
.tendance .fond .contenu h3 {
  font-size: 14px;
  color: white;
}
/* line 108, ../sass/landing/_landing.scss */
.tendance .fond .contenu p {
  font-size: 12px;
  color: white;
  padding: 5px;
}

/* line 117, ../sass/landing/_landing.scss */
.schema {
  margin-top: 40px;
  text-align: center;
}
/* line 121, ../sass/landing/_landing.scss */
.schema h3 {
  font-size: 17px;
}
/* line 125, ../sass/landing/_landing.scss */
.schema img {
  width: 300px;
}
/* line 129, ../sass/landing/_landing.scss */
.schema p {
  font-size: 13px;
  padding: 5px;
}

/* line 135, ../sass/landing/_landing.scss */
.process {
  text-align: center;
  padding-top: 10px;
  background: Silver;
}
/* line 140, ../sass/landing/_landing.scss */
.process h3 {
  font-size: 17px;
}
/* line 144, ../sass/landing/_landing.scss */
.process img {
  width: 300px;
}

/* line 150, ../sass/landing/_landing.scss */
p {
  padding: 5px;
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
}

/* line 1, ../sass/dashboard/_dashboard.scss */
.dash-contenu {
  text-align: center;
}
/* line 4, ../sass/dashboard/_dashboard.scss */
.dash-contenu h3 {
  font-size: 15px;
}
/* line 10, ../sass/dashboard/_dashboard.scss */
.dash-contenu .sum p {
  font-size: 8px;
  display: inline-block;
  width: 60px;
}
/* line 16, ../sass/dashboard/_dashboard.scss */
.dash-contenu .sum .trait {
  display: inline-block;
  border-left: 1px solid;
  width: 5px;
  height: 20px;
}
/* line 24, ../sass/dashboard/_dashboard.scss */
.dash-contenu .traitHori {
  border-top: 1px solid;
  width: 300px;
  height: 5px;
}
/* line 32, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces h3 {
  text-align: left;
}
/* line 36, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .invoices {
  background: #3CB371;
  width: 300px;
}
/* line 40, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .invoices .module-first {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50px;
  float: left;
  background: white;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* line 51, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .invoices .module-first img {
  width: 50px;
  padding-top: 10px;
}
/* line 58, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .invoices .indice-nb {
  padding-top: 10px;
  float: right;
}
/* line 62, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .invoices .indice-nb p {
  color: white;
  margin-top: 0px;
}
/* line 68, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .invoices .Pfooter {
  color: white;
  margin-top: 0px;
  text-align: left;
  width: 110px;
}
/* line 78, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .evoCA img {
  width: 300px;
  height: 200px;
}
/* line 84, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .customers {
  width: 300px;
}
/* line 87, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .customers .titre {
  background: red;
  padding-bottom: 3px;
  border: none;
  color: white;
}
/* line 93, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .customers .titre .first {
  padding-top: 10px;
}
/* line 97, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .customers .titre .last {
  padding-top: 10px;
}
/* line 102, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .customers li {
  list-style-type: none;
  border-top: 1px solid;
}
/* line 106, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .customers li .first {
  font-size: 10px;
  float: left;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}
/* line 114, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .customers li .last {
  font-size: 10px;
  padding-bottom: 0px;
  margin-top: 0px;
}
/* line 123, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .setproduct {
  margin-top: 20px;
  text-align: left;
}
/* line 127, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .setproduct ul {
  padding-left: 0px;
}
/* line 130, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .setproduct ul li {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 13px;
}
/* line 136, ../sass/dashboard/_dashboard.scss */
.dash-contenu .Quickacces .setproduct ul .bestset {
  background: #6B8E23;
  padding: 7px;
  color: white;
}

/* line 3, ../sass/form/_form.scss */
.form input {
  margin-bottom: 20px;
  width: 270px;
}
/* line 10, ../sass/form/_form.scss */
.form .inp-sub .search {
  height: 18px;
  width: 250px;
  margin: 0px;
  border: 1px solid;
  border-left: 0px;
  padding: 5px;
  margin-left: -4px;
}
/* line 22, ../sass/form/_form.scss */
.form .inp-sub button {
  background: url("../img/12.png") no-repeat scroll 1px 6px;
  border: 1px solid;
  height: 30px;
  vertical-align: bottom;
  padding-right: 11px;
}
