/* line 8, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar {
  width: 100%;
  height-min: 300px;
  background: #8A2BE2;
}
/* line 13, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth {
  float: right;
  margin-top: -10px;
}
/* line 17, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth .nav.clk {
  display: inline-block;
  float: right;
  width: 45px;
  height: 45px;
  background: url("../img/burger.png") 10px 15px no-repeat;
  content: "";
  cursor: pointer;
}
/* line 28, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth .list {
  display: inline-block;
}
/* line 31, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth .list ul {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}
/* line 36, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth .list ul li {
  float: left;
  margin-left: 15px;
}
/* line 40, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .dockbar-rigth .list ul li a {
  color: white;
  text-decoration: none;
}
/* line 49, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .logo-icon {
  overflow: hidden;
  height: 30px;
}
/* line 53, ../sass/dockbar/_dockbar.scss */
.row .header .container .dockbar .logo-icon img {
  height: 60px;
  border: 0px;
}
/* line 60, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav {
  margin-top: 0px;
}
/* line 63, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul {
  margin-top: 0px;
  list-style-type: none;
  padding-left: 0px;
}
/* line 68, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul .active {
  background: #8A2BE2;
}
/* line 72, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul li {
  margin: 0px;
  border: 1px solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  padding: 10px;
}
/* line 80, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul li a {
  text-decoration: none;
  margin-bottom: 20px;
}
/* line 86, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul li ul {
  margin-top: 20px;
  display: none;
  padding-left: 20px;
  background-color: #8A2BE2;
}
/* line 92, ../sass/dockbar/_dockbar.scss */
.row .header .container .sous-nav ul li ul li {
  border: none;
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}
