.landing-contenu {
	text-align: center;

	.first-part {
		padding-top: 20px;
		background-image: url('../img/Quaterly.png');
		background-color: InactiveBorder;

		.titre {
			font-size: 15px;
			margin-bottom: 40px;
			color: white;

			a{
				text-decoration: none;
			}
		}

		p{
			font-size: 13px;
			margin-bottom: 30px;
			color: white;
			padding: 5px;
		}

		.signe {
			background: #6495ED;
			color: white;
			border-radius: 10px;
			padding: 5px;
			margin-bottom: 10px;
		}

		.watch {
			border-radius: 10px;
			padding: 5px;
			background: transparent;
		}

		.btn-scroll {
			margin-top: 15px;
			width: 20px;
			border-radius: 50px;
			background: ButtonHighlight;
			padding: 5px;
			margin-left: 150px;

			img {
				width: 20px;
			}
		}
	}

	.service{

		.module-first {
			width: 70px;
			height:	70px;
			border: 1px solid black;
			border-radius: 50px;
			margin-left: 120px;
			margin-top: 20px;

			img {
				width: 50px;
				padding-top: 10px;

			}
		}

		h3{
			color: #6495ED;
			font-size: 14px;
		}

		p{
			font-size: 12px;
			padding: 5px;
		}
	}
}

.tendance {
	margin-top: 20px;

	background: #6495ED;
	.fond {
		background: url('../img/Quaterly.png') no-repeat top left;
		position:relative;
		width:300px;
		height:200px;
		z-index:1;
		text-align: center;
		margin-bottom: 20px;
		
		.contenu{
			position:relative;
			top:0;
			left:0;
			z-index:10;
			padding: 40px;

			h3{
				font-size: 14px;
				color: white;
			}

			p{
				font-size: 12px;
				color: white;
				padding: 5px;
			}
		}
	}
}

.schema{
	margin-top: 40px;
	text-align: center;

	h3{
		font-size: 17px;
	}

	img{
		width: 300px;
	}

	p{
		font-size: 13px;
		padding: 5px;
	}
}

.process{
	text-align: center;
	padding-top: 10px;
	background: Silver;

	h3{
		font-size: 17px;
	}

	img{
		width: 300px;
	}

}

p{
	padding: 5px;
	margin-top: 20px;
	text-align: center;
	font-size: 13px;
}